:root{
    --clr-light: #ffffff;
    --clr-pink100: #f7d4df;
    --clr-pink200: #efa9bf;
    --clr-pink500: #d8416e;
    --clr-purple1000: #271736;
    --clr-purple950: #341f47;
    --clr-purple900: #42275a;
    --clr-purple600: #693d8f;
    --clr-purple100: #e6dbf0;

    /* pink100 rgb(247, 212, 223) */
    /* pink200 rgb(238, 170, 191) */
    /* pink500 rgb(216, 65, 110) */

    /* purple100 rgb(66, 39, 90) */
    
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

/* General */
@font-face {
    font-family: 'Synonym';
    src: url('//cdn.fontshare.com/wf/74H2KDWJMBALTKHNIQRGZBU5ICACXZVT/ELAHIXGEN3HHKQ7JK54VOXWQFZLLOHW2/37TO4J4G54TAREFY7PFS5VAXDGLM7BKV.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/74H2KDWJMBALTKHNIQRGZBU5ICACXZVT/ELAHIXGEN3HHKQ7JK54VOXWQFZLLOHW2/37TO4J4G54TAREFY7PFS5VAXDGLM7BKV.woff') format('woff'),
         url('//cdn.fontshare.com/wf/74H2KDWJMBALTKHNIQRGZBU5ICACXZVT/ELAHIXGEN3HHKQ7JK54VOXWQFZLLOHW2/37TO4J4G54TAREFY7PFS5VAXDGLM7BKV.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

*,::before,::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
    background-color: var(--clr-light);
    color: var(--clr-purple950);
}

html::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Synonym', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
}

.section{
    margin-top: 5rem;
} 

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-light);
    text-decoration: none;
}

/* Animation */

@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: scale(0.85);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes gradient{
    0%, 100%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }
}

/* End of Animation */

.btn {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.025em;
    background: var(--clr-pink500);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: var(--clr-light);
    padding: .75em 1.5em;
    border-radius: 25px;
    transition: all 0.25s;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: scale(1.05);
    letter-spacing: 0.05em;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
    text-transform: uppercase;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(167deg, rgba(66,39,90,1) 0%, rgba(115,75,109,1) 50%, rgba(66,39,90,1) 100%);
    background-size: 300% 300%;
    animation: gradient 16s ease-in-out infinite;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 25px;
}

.logo{
    height: 50px;
    width: 50px;
    transition: all 1s;
    animation: fade-down 0.5s 0.3s backwards;
}

.logo:hover{
    transform: scale(1.1) rotate(90deg);
    transition: all 1s;
}

.header__navlinks{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    animation: fade-down 0.5s 0.3s backwards;
    gap: 0.5rem;
}

.header__mainlinks{
    display: flex;
    align-items: baseline;
    gap: 3rem;
    list-style: none;
}

.header__eventlinks{
    display: flex;
    align-items: baseline;
    gap: 3rem;
    justify-content: center;
    list-style: none;
}

.header__eventlinks a{
    font-weight: 400;
}

.header__link{
    position: relative;
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-light);
    letter-spacing: 0.05em;
}

.header__link::before{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--clr-pink500);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.header__link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}


.header__booknow{
    display: flex;
    font-size: var(--size-xs);
}

.header__bars{
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    animation: fade-down 0.5s 0.3s backwards;
    position: relative;
    z-index: 9999;
}

.header__bars img{
    width: 100%;
    height: 100%;
    filter: invert(1);
}

/* Mobile Navigation */

.mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 620px;
    background: linear-gradient(180deg, rgba(66,39,90,1) 0%, rgba(115,75,109,1) 50%, rgba(66,39,90,1) 100%);
    background-size: 150% 175%;
    background-position: center;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    animation: fade-down 0.3s backwards;
}

.mobile-nav__mainmenu{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.mobile-nav__link{
    font-size: var(--size-s);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--clr-light);
    letter-spacing: 0.05em;
    transition: all 0.3s;
}

.mobile-nav__link:hover{
    letter-spacing: 0.1em;
    color: var(--clr-pink500);
}

.mobile-nav__btn{
    font-size: var(--size-s);
}

.mobile-nav__menu i{
    width: 50px;
    height: 2px;
    border: 1px;
    background: var(--clr-purple1000);
}

.mobile-nav__eventmenu {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.mobile-nav__eventlinks{
    font-weight: 400;
}

/* End of Mobile Navigation */

.footer{
    width: 100%; 
    background: linear-gradient(-10deg, #42275a, #734b6d);
    padding: 100px 0 30px;
    color: var(--clr-light);
    font-size: var(--size-base);
    align-items: center;
}

.footer__row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__col{
    flex-basis: 100%;
    padding: 10px 20px;
    margin-bottom: 2rem;
}

.footer__lnk{       /**to avoid unwanted touch targets**/
    display: block;
    width: fit-content;
}

.footer__logo{
    height: 125px;
    width: 125px;
    transition: all 1s;
}

.footer__logo:hover{
    transform: scale(1.1) rotate(90deg);
    transition: all 1s;
}

.footer__col h3{
    width: fit-content;
    margin-bottom: 2rem;
    position: relative;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.footer__address{
    margin-bottom: 1.5rem;
}

.footer__email-id{
    margin-bottom: 1.5rem;
}

.footer__phone-number{
    margin-bottom: 0.5rem;
}

.footer__phone-number h4{
    font-weight: 600;
}

.footer__link{
    color: var(--clr-light);
    margin-bottom: 1rem;
    transition: all 0.3s;
}

.footer__link:hover{
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: var(--clr-pink500);
}

.footer__links p{
    margin-bottom: 0.5rem;
}

.footer__social{
    height: 35px;
    width: 35px;
    margin-bottom: 1.5rem;
    padding: 5px;
    border-radius: 25%;
    transition: all 0.3s;
}

.footer__social:hover{
    background: var(--clr-pink500);
    box-shadow: var(--clr-pink200) 1px 0 12px;
}

.footer__credits{
    font-size: var(--size-xs);
    text-align: center;
    align-items: center;
    letter-spacing: 0.05rem;
    margin-top: 3rem;
    padding: 10px 0;
    background: linear-gradient(to right, rgba(0,0,0,0), #2F0743, rgba(0,0,0,0));
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* End of General */

.weddings__hero{
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: url(../images/weddingbanner.webp);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.weddings__hero-text{
    font-size: var(--size-5xl);
    color: var(--clr-light);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: fade-in 1s 0.3s backwards;
}

.weddings-desc__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    animation: fade-in 1s 0.3s backwards;
}

.weddings-desc__img{
    width: 100%;
    height: 385px;
}

.weddings-desc__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weddings-desc__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, var(--clr-pink200), var(--clr-pink500));
    background-size: 175% 100%;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    color: var(--clr-light);
    width: 100%;
    height: 550px;
    padding: 10px 20px;
}

.weddings-desc__info h1{
    text-transform: uppercase;
    font-size: var(--size-3xl);
    margin-bottom: 1.5rem;
    width: 100%;
}

.weddings-desc__info p{
    font-size: var(--size-s);
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.settings h1{
    text-transform: uppercase;
    font-size: var(--size-6xl);
    margin-bottom: 0.5rem;
}

.settings i{
    width: 150px;
    height: 5px;
    background: var(--clr-pink500);
    border-radius: 3px;
    margin-bottom: 3rem;
}

.settings__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.settings__cards{
    display: flex;
    flex-direction: column;
    background: var(--clr-light);
    border-radius: 5px;
    gap: 0.5rem;
    width: 290px;
    height: 500px;
}

.settings__img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.settings__img img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.settings__info{
    width: 100%;
    height: 300px;
    background: linear-gradient(-45deg, var(--clr-purple600), var(--clr-pink500));
    border-radius: 15px;
    text-align: center;
    color: var(--clr-light);
    padding: 15px 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.settings__info h2{
    font-size: var(--size-4xl);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.settings__info p{
    font-size: var(--size-s);
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.settings__reservebtn{  
    position: relative;
    top: 11px;
}

.review{
    display: flex;
    position: relative;
    height: 50vh;
    width: 100%;
}

.review__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review__rippedpaper{
    position: absolute;
    height: 50vh;
}

.review__rippedpaper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.review__info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    color: var(--clr-light);
    font-size: var(--size-s);
    gap: 1.5rem;
    font-style: italic;
}

.review__info img{
    width: 60px;
    height: 40px;
    filter: invert(1);
}

/* Desktop Viewports */

@media (min-width: 530px){

    /* General */

    .container{
        max-width: 530px;
    }

    .header__nav{
        padding: 0 35px;
    }
    
    /* End of General */

    .weddings__hero-text{
        font-size: var(--size-6xl);
    }

    .weddings-desc__info{
        height: 450px;
        padding: 10px 60px;
    }

    .weddings-desc__info h1{
        font-size: var(--size-4xl);
    }

    .settings__cards{
        width: 325px;
        height: 475px;
    }

    .settings__info{
        height: 275px;
    }

    .settings__info p{
        margin-bottom: 2.75rem;
    }

    .settings__reservebtn{  
        top: -12px;
    }

    .review__info{
        padding: 100px;
    }
}

@media (min-width: 640px){
    
    /* General */
    
    .container{
        max-width: 640px;
    }

    .footer__col{
        flex-basis: 50%;
    }

    /* End of General */

    .weddings__hero-text{
        font-size: var(--size-7xl);
    }

    .review__info{
        font-size: var(--size-base);
        padding: 150px;
    }
}

@media (min-width: 856px){
    
    /* General */

    .container{
        max-width: 856px;
    }

    .header__nav{
        padding: 0 45px;
        height: 110px;
    }

    .logo{
        height: 60px;
        width: 60px;
    }

    .header__navlinks{
        display: flex;
    }

    .header__bars{
        display: none;
    }

    /* End of General */

    .weddings__hero-text{
        font-size: var(--size-8xl);
    }

    .weddings-desc__info{
        height: 400px;
        padding: 10px 115px;
    }

    .weddings-desc__info h1{
        font-size: var(--size-5xl);
    }

    .weddings-desc__info p{
        font-size: var(--size-base);
    }

    .settings h1{
        font-size: var(--size-7xl);
    }

    .settings__cards{
        width: 350px;
    }

    .settings__info P{
        font-size: var(--size-base);
        margin-bottom: 2rem;
    }

    .settings__cards{
        height: 490px;
    }

    .settings__info{
        height: 290px;
    }
    
    .settings__reservebtn{  
        top: 1px;
    }

    .review{
        height: auto;
        width: auto;
    }
    
    .review__rippedpaper{
        height: 100%;
    }

    .review__info{
        padding: 200px;
    }
}

@media (min-width: 1024px){
   
    /* General */
    
    .container{
        max-width: 1024px;
    }

    .section{
        margin-top: 9rem;
    }

    .header__nav{
        height: 115px;
    }
    
    .logo{
        height: 65px;
        width: 65px;
    }

    .header__link{
        font-size: var(--size-s);
    }

    .header__booknow{
        font-size: var(--size-s);
    }

    /* End of General */

    .weddings-desc__content{
        box-shadow: none;
    }

    .weddings-desc__img{
        width: 400px;
        transform: translateX(25px);
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .weddings-desc__info{
        width: 600px;
        height: 500px;
        text-align: left;
        transform: translateX(-25px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .weddings-desc__info h1{
        text-align: left;
    }

    .review__info{
        padding: 250px;
    }

}

@media (min-width: 1280px){
    
    /* General */
    
    .container{
        max-width: 1280px;
    }

    .footer__col{
        flex-basis: 25%;
    }

    /* End of General */

    .weddings__hero-text{
        font-size: var(--size-9xl);
    }

    .weddings-desc__img{
        width: 525px;
        transform: translateX(30px);
        z-index: 1;
    }

    .weddings-desc__info{
        width: 725px;
        height: 500px;
        text-align: left;
        transform: translateX(-30px);
    }

    .review__info{
        padding: 300px;
        font-size: var(--size-l);
    }

}

@media (min-width: 1536px){
    
    /* General */

    .container{
        max-width: 1536px;
    }

    /* End of General */

    .weddings__hero-text{
        font-size: var(--size-9xl);
    }

    .weddings-desc__img{
        width: 650px;
        transform: translateX(35px);
        z-index: 1;
    }

    .weddings-desc__info{
        width: 850px;
        height: 500px;
        text-align: left;
        transform: translateX(-35px);
    }

    .weddings-desc__info h1{
        font-size: var(--size-6xl);
    }

    .weddings-desc__info p{
        font-size: var(--size-l);
    }

    .review{
        align-items: center;
        justify-content: center;
    }

    .review__info{
        padding: 350px;
        font-size: var(--size-xl);
    }

}

/* End of Desktop Viewports */